<!DOCTYPE html>
<body>
    <div style="width: 40%; border:1px solid black; background-color: lightcyan;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
        <div style="margin: 5%;">
            
            <h1>
                <u>Dictionary Data</u>
            </h1>
            <h2>
                <u>All Data</u>
            </h2>
            <h4 id='alldata'></h4><br>
            <h2>
                <u>Neat Data</u>
            </h2>
            <h4 id='neatdata'></h4>

            <h2>
                <u>Opposite data</u>
            </h2>
            <h4 id='opp_data'></h4><br>

        </div>
    </div>
</body>
</html>

<script>
    var data = JSON.parse("{{data|escapejs}}")
    var dataNode = document.getElementById('alldata')
    
    dataNode.innerHTML+="{{data|escapejs}}";
    dataNode = document.getElementById('neatdata');
    
    for(var x in data){
        dataNode.innerHTML+=x+' :::::::::::::: '+data[x]+'<br><br>';
    }
</script>